version: "3.8"

services:
  backend:
    image: ghcr.io/kieranarchi98/genesis-ai-chatbot-backend:latest
    container_name: llm-backend
    restart: always
    ports:
      - "8080:8000"
    environment:
      - MONGO_URI=${MONGO_URI}
      - MONGO_DB=${MONGO_DB}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - ENV=${ENV}
      - REDIS_URL=${REDIS_URL}
    depends_on:
      - redis

  frontend:
    image: ghcr.io/kieranarchi98/genesis-ai-chatbot-frontend:latest
    container_name: llm-frontend
    restart: always
    ports:
      - "3001:80"
    depends_on:
      - backend

  redis:
    image: redis:7
    container_name: llm-redis
    restart: always
    ports:
      - "6379:6379"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    environment:
      - PROMETHEUS_STORAGE=${PROMETHEUS_STORAGE}
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=${PROMETHEUS_STORAGE}"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3003:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  prometheus_data:
  grafana_data:
